/* Global Styles */ */
body {
    font-family: Arial, sans-serif;
} 

/* Tab Styles */
 .tabs {
    display: flex;
    justify-content: space-between;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Tab Content Styles */
   .tab-content {
    display: none;
    padding: 20px;
}
